<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="root">
    <div id="info" style="width: 50%; margin: 0 auto;">
        <div class="_2JzJNpdiCgMiRendcKVw5T"><h1 class="_2VCiecilNutCgEz_lNRrmr"><!-- react-text: 30 -->我的名字叫
            <!-- /react-text --><!-- react-text: 31 -->peter<!-- /react-text --></h1>
            <h2 class="zQyKPWhYOWkhrofFD9QSf"><!-- react-text: 33 -->我今年 <!-- /react-text --><!-- react-text: 34 -->
                27<!-- /react-text --><!-- react-text: 35 --> 岁<!-- /react-text --></h2>
            <button>给我点赞</button>
            <h2><!-- react-text: 38 -->总点赞数： <!-- /react-text --><!-- react-text: 39 -->0<!-- /react-text --></h2>
            <h2>我的爱好：</h2>
            <ul id="hobby">
                <li>听音乐</li>
                <li>打篮球</li>
            </ul>
            <input type="text" value="爬山"><!-- react-text: 45 -->&nbsp;&nbsp;<!-- /react-text -->
            <button>添加爱好</button>
            <button>DownLoad PDF</button>
        </div>
        <div class="_3PVS4XeleQ8EX-ai9rtKit"><img src="images/e07c29e8.head-portrait.jpg"></div>
        <div style="clear: both;"></div>
        <div>admin</div>
    </div>
</div>
</body>
</html>