<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="info">
    <div style="padding: 10px 20px">
        <h3 style="margin: 0px; color: rgba(0, 0, 0, 0.870588); font-size: 22px; line-height: 32px; font-weight: 400; float: left;">
            Port Disbursement Account</h3>
        <img style="width: 50px; height: 50px; float: right" src="../img/head-portrait.jpg"/>
        <div style="clear: both;"></div>
    </div>
    <div id="disbursementDetail" style="background: rgb(255, 255, 255); padding: 20px;">
        <div style="margin-bottom: 20px;">
            <div>
                <div style="float: left;"><span
                        style="font-size: 14px; color: rgba(0, 0, 0, 0.65098); letter-spacing: 0px;">ESTIMATE PD: </span><span
                        style="font-size: 20px; color: rgb(245, 166, 35); letter-spacing: 0px; margin-left: 5px;">USD 888,888.00</span><span
                        style="font-size: 12px; color: rgba(0, 0, 0, 0.65098); letter-spacing: 0px; margin-left: 15px;">@RATE USD 1/6.9</span>
                </div>
                <div style="border-radius: 4px; background: rgb(73, 144, 226); font-size: 12px; color: rgb(255, 255, 255); letter-spacing: 0px; padding: 7px 16px; cursor: pointer; float: right;">
                    Download
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="margin-top: 16px;">
                <div style="float: left; font-size: 12px; color: rgba(0, 0, 0, 0.560784); letter-spacing: 0px;">
                    <!-- react-text: 19 -->For reference only, Actual cost is subject to the final bill.
                    <!-- /react-text --><br><!-- react-text: 21 -->Question or concern, please call us 400-1111-111.
                    <!-- /react-text --></div>
                <div style="float: right; font-family: Roboto-Medium; font-size: 14px; color: rgba(0, 0, 0, 0.65098); letter-spacing: 0px;">
                    <!-- react-text: 23 -->E-PORTS PD Calculator<!-- /react-text --><br><!-- react-text: 25 -->is
                    accurate
                    and reliable<!-- /react-text --></div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="mui-table-wrapper" style="height: auto; overflow: auto;">
            <div class="mui-body-table" style="height: 350px; overflow-x: hidden; overflow-y: auto;">
                <table class="mui-table"
                       style="background-color: transparent; padding: 0px 24px; width: 100%; border-collapse: collapse; border-spacing: 0px; table-layout: fixed; position: relative; text-align: center; border: 1px solid rgb(220, 220, 220);">
                    <thead class="mui-table-header" style="border-bottom: 1px solid rgb(224, 224, 224);">
                    <tr class="mui-table-row mui-table-header-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <th class="mui-table-header-column"
                            style="font-weight: normal; font-size: 12px; padding-left: 5px; padding-right: 10px; height: 56px; text-align: left; white-space: nowrap; text-overflow: ellipsis; color: rgba(0, 0, 0, 0.541176); position: relative; background-color: inherit;">
                            <!-- react-text: 33 -->COST ITEM<!-- /react-text --></th>
                        <th class="mui-table-header-column"
                            style="font-weight: normal; font-size: 12px; padding-left: 0px; padding-right: 10px; height: 56px; text-align: right; white-space: nowrap; text-overflow: ellipsis; color: rgba(0, 0, 0, 0.541176); position: relative; background-color: inherit;">
                            <!-- react-text: 35 -->ESTIMATE PRICE<!-- /react-text --></th>
                    </tr>
                    </thead>
                    <tbody class="mui-table-body" style="height: 350px;">
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 39 -->Agency fee for bulk carrier<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 44 -->Chinese Tonnage due<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;">(preferential duties)</span>
                        </td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 49 -->Pilotage<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 54 -->Pilot transportation<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 59 -->Towage<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 64 -->Towage/boat charge for quarantine inspection at anchorage
                            <!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 69 -->Berthage<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row"
                        style="border-bottom: 1px solid rgb(224, 224, 224); color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            <!-- react-text: 74 -->Anchorage due<!-- /react-text --><span
                                style="font-size: 14px; color: rgb(242, 182, 84); letter-spacing: 0px;"></span></td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 1,800.00
                        </td>
                    </tr>
                    <tr class="mui-table-row" style="color: rgba(0, 0, 0, 0.870588); height: 48px;">
                        <td class="mui-table-row-column"
                            style="padding-left: 10px; padding-right: 24px; height: 48px; text-align: left; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.65098);">
                            Total
                        </td>
                        <td class="mui-table-row-column"
                            style="padding-left: 24px; padding-right: 10px; height: 48px; text-align: right; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background-color: inherit; color: rgba(0, 0, 0, 0.541176);">
                            USD 14,400.00
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    function loading() {
        let disbursementDetail = document.getElementById('disbursementDetail');
        let htmlTxt = `<div style="padding: 10px 20px">
        <h3 style="margin: 0px; color: rgba(0, 0, 0, 0.870588); font-size: 22px; line-height: 32px; font-weight: 400; float: left;">
            Port Disbursement Account</h3>
        <img style="width: 50px; height: 50px; float: right" src="../../static/img/head-portrait.jpg"/>
        <div style="clear: both;"></div>
    </div>`;

        htmlTxt += nodeToString(disbursementDetail);
        console.log(htmlTxt);

        let div = stringToNode(htmlTxt);
        console.log(div);
    }

    function test() {
        let obj = document.getElementById('disbursementDetail');
        console.log(obj.parentNode);
    }

    function nodeToString(node) {
        let tmpNode = document.createElement("div");
        tmpNode.appendChild(node.cloneNode(true));
        return tmpNode.innerHTML;
    }

    function stringToNode(string) {
        let div = document.createElement('div');
        div.innerHTML = string;
        return div;
    }

    //    loading();
    test();

</script>

</body>
</html>