.name {
    color: red;
    display: block;
    margin-top: 5px;
}

.contentLeft {
    float: left;
    padding: 20px;
}

.contentRight {
    float: left;
    padding: 20px;
}

.contentRight img {
    width: 150px;
    height: 150px;
}