
#order_detail_tab {

  .ant-tabs-bar {
    margin-bottom: 0;
    border-bottom: 0;
  }

}

#bill_detail_tab {

  margin-top: 10px;

  .ant-tabs-nav {
    margin-left: 16px;
  }

  .ant-tabs-bar {
    margin-bottom: 0px;
    margin-top: 10px;
  }

}

.cardContent {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  min-height: 150px;
  padding: 10px;
}