html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*padding: 10px;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*background: #dae3ff;*/
}

h1, h2, h3, h4, h5, h6, p, ul {
    /*margin: 0;*/
    /*padding: 0;*/
}

.header {
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    margin-left: 20px;
}

.middle {
    width: 100%;
    overflow: auto;
    top: 50px;
    position: absolute;
    z-index: 5;
    bottom: 50px;
}

.footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.nav {
    float: left;
    width: 20%;
    font-size: 20px;
    padding: 20px;
}

#components-layout-demo-side .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .nav-text {
    display: none;
}

#components-layout-demo-side .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    display: none;
}