html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #dae3ff;
}

h1, h2, h3, h4, h5, h6, p, ul {
    /*margin: 0;*/
    /*padding: 0;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.nav {
    float: left;
    width: 20%;
    font-size: 20px;
    padding: 20px;
}